<div class="operation operation--close">
  <h2>Close account</h2>
  <form class="form form--close" [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" class="form__input form__input--user" formControlName="user"/>
    <input
      type="password"
      maxlength="4"
      class="form__input form__input--pin"
      formControlName="pin"
    />
    <button class="form__btn form__btn--close" type="submit" [disabled]="form.invalid">&rarr;</button>
    <label class="form__label">Confirm user</label>
    <label class="form__label">Confirm PIN</label>
  </form>
</div>
